#waExample { 
	float: left;
	width: 380px;
}
			.field-type-allies-postcode-lookup fieldset { border: none; width:350px;}
			.field-type-allies-postcode-lookup input[type="text"]{ width: 15%; margin: 5px 0 4px; padding: 2px 5px; }
			.field-type-allies-postcode-lookup select { display:none;}

			.field-type-allies-postcode-lookup input[type="text"], .field-type-allies-postcode-lookup select{ height: 1.8em; -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; background-color: #FFFFFF; border: 1px solid #CCCCCC; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; }


    			.field-type-allies-postcode-lookup input[type="text"]:focus, .field-type-allies-postcode-lookup textarea:focus, .field-type-allies-postcode-lookup select:focus { border-color: rgba(82, 168, 236, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); outline: 0 none;}
			.field-type-allies-postcode-lookup label { color: #006699; font-size: 1em; font-weight: bold; margin: 0 0 4px; }

 .field-type-allies-postcode-lookup input#searchButton{cursor: pointer;
font-size: 12px;
height: 33px;
/* left: 50%; */
position: relative;
width: 7%;
}

 			.field-type-allies-postcode-lookup #selectAddress { clear: both; display: block; margin: 10px 0;}
		    .field-type-allies-postcode-lookup #datasetSelect {display:both;}
		.field-type-allies-postcode-lookup #address input{margin-bottom:1em;}
			.field-type-allies-postcode-lookup .poweredby{font-weight:bold;}
			.waerror { color: red;}
			.wawarning { color: orange; }
			.callout { float: left; width: 350px; padding: 20px 20px; background-color: #eef4f9; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
			thead { text-align: left; }